section{
    background-color:#88c1d0 ;
}
@media only screen and (min-width: 1600px){
 .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
}
@media only screen and (min-width:768px) and (max-width:1599px) {
    .parent{display:grid; 
        grid-template-columns: repeat(2, 2fr);
    gap: 8px;}
    
}